@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	width: 100%;
	height: 100%;
}



a {
  @apply text-blue-4B font-semibold;
}

/**
Custom scrollbar settings
*/
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #888;
}
::-webkit-scrollbar {
  height: 6px;
  border-radius: 8px;
  width: 6px;
  background-color: #ccc;
}

.grecaptcha-badge {
  visibility: hidden;
}
